<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать объявление - Avito</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_main.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_details.css') }}" />
</head>

<body>
    {% include 'header.html' %}
    <div class="header">
        <h1>Новое объявление</h1>
        <span id="result" style="opacity: 0.6"></span>
        <script>
            let cat = localStorage.getItem('category');
            let sub = localStorage.getItem('subcategory');
            let res = 'Личные вещи' + '   ＞   ' + cat + '   ＞   ' + sub;
            document.getElementById('result').textContent = res;
        </script>
    </div>
    <div class="container">
        <form id="adForm" action="/create_ad" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label for="title">Название объявления:</label>
                <input type="text" id="title" name="title">
            </div>
            <div class="form-group">
                <label for="ad_type">Вид объявления:</label>
                <select id="ad_type" name="ad_type">
                    <option value=" "> </option>
                    <option value="Продаю свое">Продаю свое</option>
                    <option value="Товар приобретен на продажу">Товар приобретен на продажу</option>
                    <option value="Товар от производителя">Товар от производителя</option>
                </select>
            </div>
            <div class="form-group">
                <label for="condition">Состояние:</label>
                <div id="condition" name="condition">
                        <div class="radio">
                            <input class="custom-radio" type="radio" id="color-1" name="color" value="Новое с биркой" >
                            <label for="color-1" style="color: black">Новое с биркой</label>
                            <div class="info">Неношенная вещь. Есть бирка и ярлыки с информацией о модели.</div>
                        </div>
                        <div class="radio">
                            <input class="custom-radio" type="radio" id="color-2" name="color" value="Отличное">
                            <label for="color-2" style="color: black">Отличное</label>
                            <div class="info">Нет следов носки, а также потерточтей, пятен и других дефектов.</div>
                        </div>
                        <div class="radio">
                            <input class="custom-radio" type="radio" id="color-3" name="color" value="Хорошее">
                            <label for="color-3" style="color: black">Хорошее</label>
                            <div class="info">Есть небольшие дефекты.</div>
                        </div>
                        <div class="radio">
                            <input class="custom-radio" type="radio" id="color-4" name="color" value="Удовлетворительное">
                            <label for="color-4" style="color: black">Удовлетворительное</label>
                            <div class="info">Есть заметные дефекты.</div>
                        </div>
                </div>
            </div>

            <div class="section-title">Внешний вид</div>
            <div class="form-group">
                <label for="image">Загрузка фотографий:</label>
                <input type="file" id="image" name="image" accept="image/*">
            </div>

            <div class="section-title character">Характеристики</div>
            <div class="info-character">Укажите их, чтобы покупателям было проще найти объявление.</div>
            <div class="form-group">
                <label for="size">Размер:</label>
                <input type="text" id="size" name="size" required>
            </div>
            <div class="form-group">
                <label for="color">Цвет:</label>
                <input type="text" id="color" name="color">
            </div>
            <div class="form-group">
                <label for="brand">Бренд:</label>
                <input type="text" id="brand" name="brand">
            </div>
            <div class="form-group">
                <label for="material">Материал основной части:</label>
                <input type="text" id="material" name="material" required>
            </div>

            <div class="section-title">Место сделки</div>
            <div class="form-group">
                <input type="text" id="location" name="location">
            </div>

            <div class="section-title">Подробности</div>
            <div class="form-group">
                <label for="price">Цена:</label>
                <input type="number" id="price" name="price" required>
            </div>

            <div class="form-group">
                <label for="description" style="width: 375px">Описание:</label>
                <div>
                    <textarea id="description" name="description" rows="4"></textarea>
                    <button type="button" class="generate-button" onclick="requestDescriptionGeneration()">Сгенерировать описание</button>
                </div>
            </div>
            <div style="display: flex">
                <button type="submit" class="create-button">Создать объявление</button>
                <button type="submit" class="save-button">Сохранить объявление</button>
            </div>
        </form>
    </div>

    <script>
        function requestDescriptionGeneration() {
            const title = document.getElementById('title').value;
            const ad_type = document.getElementById('ad_type').value;
            const size = document.getElementById('size').value;
            const brand = document.getElementById('brand').value;
            const color = document.getElementById('color').value;
            const location = document.getElementById('location').value;
            const cat = localStorage.getItem('category');
            const sub = localStorage.getItem('subcategory');
            const image = document.getElementById('image').files[0];
            const radios = document.querySelectorAll('#condition input[name="color"]');
            let condition = 'erv';
            radios.forEach(radio => {
                if (radio.checked) {
                    condition = radio.value;
                }
            });

            const formData = new FormData();
            formData.append('title', title);
            formData.append('condition', condition);
            formData.append('ad_type', ad_type);
            formData.append('size', size);
            formData.append('color', color);
            formData.append('brand', brand);
            formData.append('location', location);
            formData.append('cat', cat);
            formData.append('sub', sub);
            formData.append('image', image);

            fetch('/generate_description', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                const descriptionField = document.getElementById('description');
                descriptionField.value = data.description;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
